<header class="" id="header-main">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg navbar-dark bg-dark" id="navbar-main">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="/">
                <img alt="Image placeholder" src="/assets/img/brand/logo.png" id="navbar-logo">
                <!-- <h2>Skanz</h2> -->
            </a>
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse"
                aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collapse -->
            <div class="collapse navbar-collapse navbar-collapse-overlay" id="navbar-main-collapse">
                <!-- Toggler -->
                <div class="position-relative">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <!-- Main navigation -->
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item nav-item-spaced dropdown dropdown-animate" data-toggle="hover">
                        <a class="nav-link" href="/">
                            Home
                        </a>
                    </li>
                    <li class="nav-item nav-item-spaced dropdown dropdown-animate" data-toggle="hover">
                        <a class="nav-link" href="/about">
                            About
                        </a>
                    </li>
                    <li class="nav-item nav-item-spaced dropdown dropdown-animate" data-toggle="hover">
                        <a class="nav-link" href="/team">
                            Team
                        </a>
                    </li>
                    <li class="nav-item nav-item-spaced dropdown dropdown-animate" data-toggle="hover">
                        <a class="nav-link" href="/contact">
                            Contact
                        </a>
                    </li>
                </ul>
                <!-- Right navigation -->
                <ul class="navbar-nav align-items-lg-center d-none d-lg-flex ml-lg-auto">
                    <!-- Auth -->
                    <li class="nav-item">
                        <a class="btn btn-sm btn-outline-warning btn-icon ml-3" href="/login">
                            <span class="btn-inner--icon"><i data-feather="log-in"></i></span>
                            <span class="btn-inner--text">Sign in</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://skanz.live"
                            class="btn btn-sm btn-warning btn-icon ml-3" target="_blank">
                            <span class="btn-inner--icon"><i data-feather="shopping-bag"></i></span>
                            <span class="btn-inner--text">Order skanz</span>
                        </a>
                    </li>
                </ul>
                <!-- Mobile button -->
                <div class="d-lg-none px-4 text-center">
                    <a href="/login" class="btn btn-block btn-sm btn-outline-warning">Sign in</a>
                </div>
                <div class="d-lg-none px-4 text-center mt-1">
                    <a href="https://skanz.live"
                        class="btn btn-block btn-sm btn-warning" target="_blank">Order skanz</a>
                </div>

            </div>
        </div>
    </nav>
</header>