<%- include('layout/landing-header.ejs')%>
  <!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
<div class="container position-relative text-center text-lg-left" data-aos="zoom-in" data-aos-delay="100">
    <div class="row">
    <div class="col-lg-8">
        <h1>A temporary tattoo with your personal QR code</h1>

        <div class="btns">
        <a href="/sign-up" class="btn-menu animated fadeInUp scrollto">Create account</a>
        </div>
    </div>
    <div class="col-lg-4 d-flex align-items-center justify-content-center" data-aos="zoom-in" data-aos-delay="200">
        <a href="https://youtu.be/szIq5xUi06w" class="venobox play-btn" data-vbtype="video" data-autoplay="true"></a>
    </div>

    </div>
</div>
</section><!-- End Hero -->

<main id="main">
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

    <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
        <div class="about-img">
            <img src="assets/img/about.jpg" alt="">
        </div>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
        <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
        <p class="font-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
        </p>
        <ul>
            <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
            <li><i class="icofont-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
            <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
        </ul>
        <p>
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum
        </p>
        </div>
    </div>

    </div>
</section><!-- End About Section -->

<!-- ======= Chefs Section ======= -->
<section id="chefs" class="chefs">
    <div class="container" data-aos="fade-up">
    <div class="section-title">
        <p>Our Team</p>
    </div>

    <div class="row">

        <div class="col-lg-4 col-md-6">
        <div class="member" data-aos="zoom-in" data-aos-delay="100">
            <img src="assets/img/chefs/chefs-1.jpg" class="img-fluid" alt="">
            <div class="member-info">
            <div class="member-info-content">
                <h4>Madeline</h4>
                <span>CEO / Founder</span>
            </div>
            <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
            </div>
            </div>
        </div>
        </div>

        <div class="col-lg-4 col-md-6">
        <div class="member" data-aos="zoom-in" data-aos-delay="200">
            <img src="assets/img/chefs/chefs-2.jpg" class="img-fluid" alt="">
            <div class="member-info">
            <div class="member-info-content">
                <h4>Brannon</h4>
                <span>Lead product manager</span>
            </div>
            <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
            </div>
            </div>
        </div>
        </div>

        <div class="col-lg-4 col-md-6">
        <div class="member" data-aos="zoom-in" data-aos-delay="300">
            <img src="assets/img/chefs/chefs-3.jpg" class="img-fluid" alt="">
            <div class="member-info">
            <div class="member-info-content">
                <h4>Kevin</h4>
                <span>Creative Directory and Marketing manager</span>
            </div>
            <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
            </div>
            </div>
        </div>
        </div>

    </div>

    </div>
</section><!-- End Chefs Section -->


</main><!-- End #main -->

<%- include('layout/footer.ejs')%>