<%- include('layout/auth-header.ejs')%>

<section id="hero" style="height: 100vh;" class="d-flex align-items-center page404">
  <div
    class="container position-relative text-center text-lg-left"
    data-aos="zoom-in"
    data-aos-delay="100"
  >
    <div class="row">
      <div class="col-lg-12 text-center">
        <img src="<%= data %>" style="width: 60%"/>
    </div>
  </div>
</section>


<%- include('layout/footer.ejs')%>