<%- include('layout/header.ejs')%>

<main id="main">
  <section class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <ol>
              <li class="active">
                <a class="breadcrumbs-link" href="/dashboard">Tattoo</a>
              </li>
              <li><a class="breadcrumbs-link" href="/my-order">My all Tattoos</a></li>
              <li><a class="breadcrumbs-link" href="/my-order">Shop</a></li>
              <li><a class="breadcrumbs-link" href="/my-order">My order</a></li>
              <!-- <li><a class="breadcrumbs-link" href="/contacts">Contacts</a></li> -->
              <!-- <li><a class="breadcrumbs-link" href="/profile">Profile</a></li> -->
              <!-- <li><a class="breadcrumbs-link" href="/settings">Settings</a></li> -->
            </ol>
            <!-- <h2>Dashboard</h2> -->
          </div>
    </div>
  </section>

  <section class="inner-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="card" style="height: 600px">
              Comming Soon. In here, you can see your total counts of QR code
              and connects people counts.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<%- include('layout/footer.ejs')%>